<h1>Translated Emoji Sentences</h1>

<table>
  <thead>
    <tr>
      <th>Expression</th>
      <th>Translated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.expression %></td>
        <!-- <td><%= sentence.translated %></td> -->
        <td><%= image_tag(sentence.translated, :width => 50) if sentence.translated.present? %></td>
        <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentence', new_sentence_path %>
